.map-container > ::deep .leaflet-container {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1 !important;
    height: 100vh !important;
    width: 100vw !important;
}

    .map-container > ::deep .leaflet-container > .leaflet-control-container .leaflet-control-zoom {
        display: none !important;
    }
